<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head')%>
<body>
  <%- include('./partial/header')%>
    <h1>Productos de mascotas</h1>
    <form action="">
      <label>Imagen:</label>
      <input type="file" name="imagen" placeholder="Insertar url de la imagen">
      <label>Nombre:</label>
      <input type="text" name="nombre" placeholder="Nombre del producto">
      <label>Descripción:</label>
      <input type="text" name="descripcion" placeholder="Descripción del producto">
      <label>Precio:</label>
      <input type="text" name="precio" placeholder="Precio del producto">
      <input type="submit" value="Agregar producto">
  </form>
  <table>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    <tr>
      <% if(mascota) { %>
      <td><img src=" <%= mascota.imagen%>"  alt=" <%= mascota.nombre%>"></td>
      <td><%= mascota.nombre%></td>
      <td><%= mascota.descripcion%></td>
      <td><%= mascota.precio%></td>
      <% } %>
    </tr>
  </table>
    <%- include('./partial/footer')%>
  </body>
</html>