<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head')%>
<body>
  <%- include('./partial/header')%>
    <h1>Productos de mascotas</h1>
    <table>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
      <% for (let i = 0; i < mascotas.length && i < 2; i++) { %>
        <tr>
          <td><img src="<%= mascotas[i].imagen %>" alt="<%= mascotas[i].nombre %>"></td>
          <td><%= mascotas[i].nombre %></td>
          <td><%= mascotas[i].descripcion %></td>
          <td><%= mascotas[i].precio %></td>
        </tr>
      <% } %>
    </table>
    
    <%- include('./partial/footer')%>
  </body>
</html>